__pycache__/

filename.log

.env
env
env1
env2
databasebackup/

.vs

lib/
scripts/

mbtinder.sln
mbtinder_old/

PythonApplication1.pyproj

pyvenv.cfg

test.py
filenames.log
*.log
logs/restart.bat
logs/mbtinderlogging.bat
